<!DOCTYPE html>
<html>
<head>
  <title>Emmo</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <%= csrf_meta_tags %>

  <%= favicon_link_tag 'fav.ico' %>

  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->


</head>
<body>

<% content_for :hide_topbar do %>
  <%= render "layouts/topbar" %>
<% end %>

<% content_for :hide_header_segment do %>
  <div class="ui segment emmo-header-segment">
    <div class="emmo-container">
      <h2 class="ui header"><%= yield :page_title %></h2>
    </div>
  </div>
<% end %>

<div class="emmo-container">
  <div class="pure-g-r">
    <div class="pure-u-1-5">
            <p>Thirds</p></div>
    <div class="pure-u-4-5">
      <div class="ui segment">
        <%= yield %>
      </div>
    </div>
  </div>
</div>


</body>
</html>
