<!DOCTYPE html>
<html>
<head>
  <title>Emmo</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <%= csrf_meta_tags %>

  <%= favicon_link_tag 'fav.ico' %>

  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->


</head>
<body>
<%= render "layouts/topbar" %>

<div class="emmo-header-segment">
  <div class="emmo-container">
    <h2 class="ui header"><%= yield(:page_title) %></h2>
  </div>
</div>

<div class="emmo-container">

  <div class="ui celled divided grid">
    <div class="row">
      <div class="one wide column">
      </div>
      <div class="three wide column">
        <div class="ui segment">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
</div>




</body>
</html>
