<!DOCTYPE html>
<html>
<head>
  <title>Emmo</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'fav.ico' %>

  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <script>
    window.current_user = '<%= current_user.name %>';
  </script>
</head>
<body class="emmo-brushed-bg">

<% #render "layouts/topbar" %>


<div class="emmo-container ">
  <div class="ui text menu emmo-float-right">

    <a class="active item">
      <i class="user icon"></i> <%= current_user.name %>
    </a>

    <%# form_for(:session, url: session_path, :method => :delete) do |f| %>
    <a class="item">
      
      <%# f.button_to "登出", :method => 'delete' %>
      <div class="ui input">

        <!-- <i class="forward mail icon"></i>  -->
        <%= button_to "登出", sessions_path, class: '', method: 'delete'   %>
      </div>
    </a>
    <% #end %>
  </div>
</div>

<div class="emmo-header-segment ">
  <div class="emmo-container">
    <a href="/home" class="ui text" style="text-decoration: none;">
      <h2 class="ui header">
        <i class="circular magic icon"></i>
        Emmo - Let's account!
      </h2>
    </a>
  </div>
</div>

<div class="emmo-container">
  <div class="pure-g-r ui piled segment">
    <div class="pure-u-1-4">
        
      <%= render "layouts/sidebar" %>


    </div>
    <div class="pure-u-3-4">
      <div class="emmo-box">
        <div class=" emmo-main">
          

          <h2 class="ui dividing header large">
            <i class="<%= yield :page_title_icon  %> icon"></i>
            <%= yield :page_title_text  %>
          </h2>

          <%= yield %>
        </div>
      </div>
    </div>
  </div>
</div>






</body>
</html>
